<div class="container">
    <h3 class="text-white">All Vault Passwords</h3>
    <br>
    
    <!-- Passwords entries table -->
    <div *ngIf="passwords" class="container-fluid">
        <table class="table table-stripped table-dark table-hover">
            <thead class="thead-light">
                <tr class="text-white">
                    <th>ID</th>
                    <th>Source</th>
                    <th>Name</th>
                    <th>Password</th>
                    <th>History</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="text-white" *ngFor="let login of passwords; let i = index">
                        <td scope="row">{{login.id}}</td>
                        <td>{{login.source}}</td>
                        <td>{{login.name}}</td>
                        <td>{{login.password}}</td>
                        <td>{{login.history}}</td>
                        <td>
                            <button type="submit" class="btn btn-danger" (click)="deletePassword(login.id)">DELETE</button>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>

    <!-- Successful action -->
    <div *ngIf="message" class="alert alert-success" id="message">{{message}}</div>
</div>