<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <a href=""><h1 class="text-white">{{ title }}</h1></a>
  <br>
</div>

<!-- Navigation container -->
<div class="container">
    <ul class="nav nav-tabs" id="tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="save-tab" data-toggle="pill" [routerLink]="['entry']"
                routerLinkActive="router-link-active" role="tab" aria-controls="save" aria-selected="false">Save</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="change-tab" data-toggle="pill" [routerLink]="['change']"
                routerLinkActive="router-link-active" role="tab" aria-controls="change" aria-selected="false">Change</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="passwords-tab" data-toggle="pill" [routerLink]="['passwords']"
                routerLinkActive="router-link-active" role="tab" aria-controls="passwords"
                aria-selected="false">Passwords</a>
        </li>
    </ul>
    <div class="tab-content" id="tabsContent">
        <br>
        <router-outlet></router-outlet>
    </div>
</div>